body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container{
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#result {
    margin-top: 20px;
    font-size: 18px;
}